* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Time styling section */

h1.time {
    text-align: center;
    font-size: 7rem;
}

/* Author Styling */

#author {
    margin: 20px;
    font-style: italic;
}
 
/* Crypto currency section */
#crypto {
    margin: 15px;
    font-size: 1.3rem;
}

#crypto-top {
    display: flex;
    align-items: center;
}

#crypto-top > span {
    margin-left: 10px;
}

div#crypto > p{
    margin: 0;
    font-size: 1.0rem;
}

/* Weather Section */

#weather {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

#weather > p {
    margin: 0;
}

/* socials */
.fa {
    padding: 20px;
    font-size: 40px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-decoration: none;
    margin-right: 20;
    
}
.fa-facebook {
    background: #007bb5;
    color: white;
}

.fa-envelope {
    background: #007bb5;
    color: white;
}

.socials {
    display: flex;
    justify-content: space-between;
}